<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
    data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary rounded-2" tabindex="0">
    <div class="p-4" id="Home">
        <h1 class="text-center text-uppercase" style="color: #8D3F65;">Welcome to Blood Bank Management System</h1>
        <p class="text-center text-danger"> <q>Safeguarding Lives, One Drop at a Time</q></p>
       <div class="container d-flex justify-content-center mb-3">
        <a href="?page=available_samples" class="link-light bg-success rounded p-2 text-center link-underline-opacity-0">Click Here To See Available Blood Samples</a>
       </div>
        <p style="text-align: justify;">
            Our Blood Management System is a comprehensive platform designed to facilitate the crucial process of blood
            donation, collection, and distribution. As a centralized hub for hospitals and individuals alike, we bridge
            the gap between donors and recipients, ensuring that life-saving blood is readily available when needed
            most.
        </p>
        <h3 class="text-center mb-3 text-success">For Hospitals</h3>
        <ul class="hospitals">
            <li class="hospital-benefit">
                <h5>Efficient Blood Sourcing</h5>
                <p style="text-align: justify;">
                    Streamline your blood procurement process by accessing our extensive network of donors and blood
                    banks. With just a few clicks, hospitals can request specific blood types and quantities, ensuring
                    timely delivery to meet patient needs.
                </p>
            </li>
            <li class="hospital-benefit">
                <h5>Real-Time Inventory Tracking</h5>
                <p style="text-align: justify;">
                    Stay informed about available blood stocks in real-time. Our system provides detailed inventory
                    management tools, allowing hospitals to monitor blood levels, expiry dates, and track usage patterns
                    to optimize supply chain management.
                </p>
            </li>
            <li class="hospital-benefit">
                <h5>Customized Alerts</h5>
                <p style="text-align: justify;">
                    Never run short on critical blood types again. Receive automatic notifications when blood levels
                    reach predefined thresholds, enabling proactive replenishment and preventing shortages.
                </p>
            </li>
        </ul>
        <h3 class="text-center mb-3 text-success">For Receivers</h3>
        <ul class="receivers">
            <li class="receiver-benefit">
                <h5>Instant Blood Requests</h5>
                <p style="text-align: justify;">
                    Submit blood requests directly to hospitals within our network. Whether for scheduled procedures or
                    emergency situations, our user-friendly interface makes it easy to communicate your needs and
                    receive timely assistance.
                </p>
            </li>
            <li class="receiver-benefit">
                <h5>Accessible Blood Information</h5>
                <p style="text-align: justify;">
                    Gain access to comprehensive information about available blood types and nearby hospitals. Our
                    platform empowers receivers with the knowledge needed to make informed decisions and expedite the
                    blood acquisition process.
                </p>
            </li>
            <li class="receiver-benefit">
                <h5>Secure Communication</h5>
                <p style="text-align: justify;">
                    Rest assured that your requests are handled with utmost confidentiality and security. Our encrypted
                    messaging system ensures private communication between receivers and hospitals, safeguarding
                    sensitive medical information.
                </p>
            </li>
        </ul>
        <h3 class="text-center mb-3 text-success mt-4">Community Engagement</h3>
        <ul class="community">
            <li class="community-benefits">
                <h5>Donate and Save Lives</h5>
                <p style="text-align: justify;">
                    Join the lifesaving mission by becoming a blood donor. Register on our platform to contribute to the
                    ongoing effort of replenishing blood supplies and supporting patients in need.
                </p>

            </li>
            <li class="community-benefits">
                <h5>Educational Resources</h5>
                <p style="text-align: justify;">
                    Access educational materials and resources to learn more about the importance of blood donation and
                    its impact on healthcare. Empower yourself and others with knowledge that can help save lives.
                </p>

            </li>
        </ul>
    </div>
    <hr class="border border-danger border-2 opacity-50 w-75 m-auto">
    <div class="p-4" id="About">
        <h3 class="text-center mb-3 text-uppercase" style="color: #8D3F65;">About Blood Bank Management</h3>
        <p style="text-align: justify;">
            At the Blood Management System, our mission is simple yet profound: to bridge the gap between blood donors
            and recipients, ensuring that every patient in need has access to life-saving blood at the right time and
            place. We are committed to revolutionizing the way blood is sourced, managed, and distributed, ultimately
            saving countless lives in the process.
        </p>
        <h3 class="text-center mb-3 text-success">Our Story</h3>
        <p style="text-align: justify;">
            The inception of the Blood Management System stems from a collective desire to address the persistent
            challenges in blood procurement and distribution faced by hospitals and healthcare facilities worldwide.
            Recognizing the critical importance of timely access to blood products in medical emergencies, our team of
            passionate innovators embarked on a journey to develop a comprehensive solution that would streamline the
            entire blood management process.
        </p>
        <h3 class="text-center mb-3 text-success" >Our Mission</h3>
        <p style="text-align: justify;">
            We are driven by a singular purpose: to safeguard lives through efficient and transparent blood management.
            Whether it's connecting hospitals with willing blood donors or empowering individuals to request blood
            assistance seamlessly, our platform serves as a beacon of hope for those in need of life-saving
            transfusions.
        </p>
        <h3 class="text-center mb-3 text-success" >Join Us</h3>
        <p style="text-align: justify;">
            Whether you're a hospital seeking to optimize your blood procurement process or an individual looking to
            make a difference through blood donation, we invite you to join us in our lifesaving mission. Together, we
            can make a tangible impact on the lives of patients in need and contribute to a healthier, more resilient
            society.
        </p>
        <p style="text-align: center;" class="text-danger">
            Thank you for your support and partnership in advancing the cause of blood management and patient care.
        </p>
    </div>
</div>